body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  height: 100vh;
  padding-top:60px; 
}
.header-top {
background-color: #212121;
text-align: right;
position: absolute;
left: 0;
width: 100%;
padding: 15px 0;
height: 5%;
}

.header-text {
  position: relative;
  color: aliceblue;
  padding-right: 40px;
}